extends  ../_skeleton

block variables
  - var activeCategory = 'pages'
  - var pageName = 'Buttons'

block page 
  // Page Header
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    path: [pageName],
    img: 'images/bg-breadcrumbs-about.jpg'
  })

  // Button Sizes
  section.section.section-md.bg-default
    .container
      h3 Button Sizes

      .group-xl.group-middle
        .button.button-lg.button-primary Large Size
        .button.button-primary Medium size
        .button.button-sm.button-primary Small size



  // Buttons with Icons
  section.section.section-md.bg-default
    .container
      h3 Buttons with Icons
      .group-xl.group-middle
        .button.button-icon.button-icon-left.button-default-outline.button-lg
          span.icon.mdi.mdi-chevron-right
          | Icon left
        .button.button-icon.button-icon-right.button-default-outline.button-lg
          span.icon.mdi.mdi-plus
          | Icon right




  // Page Footer
  include ../sections/_footer-minimal
