extends  ../_skeleton

//- Includes
include ../components/_ui-pagination
include ../components/_ui-box-icon
include ../components/_ui-team
include ../components/_ui-posts
include ../components/_ui-gallery-item
include ../components/_ui-event-item
include ../components/_ui-causes

block variables
  - var activeCategory = 'home'
  - var pageName = 'Home'

block page
  // Page Header
  include ../sections/_header-sidebar

  // Swiper
  section.section.section-lg.section-main-bunner.section-main-bunner-filter
    .main-bunner-img(style='background-image: url("images/bg-bunner-2.jpg"); background-size: cover;')
    .main-bunner-inner
      .container
        .row.row-50.justify-content-lg-center.align-items-lg-center
          .col-lg-12
            .bunner-content-modern.text-center
              h1.main-bunner-title Help The Children
              p We do whatever it takes to make sure children don’t just survive but thrive. Helper believes that every child should be able to make their mark on their world and help build a better future.


  section.section.section-xl
    .container
      .row.row-50.justify-content-lg-between.align-items-lg-center
        .col-lg-6
          .box-img-animate
            .box-img-animate-item(data-parallax-scroll='{"y": 0, "x": 140,  "smoothness": 50 }')
              img(src="images/animate-img-1.jpg",  alt="")
            .box-img-animate-item(data-parallax-scroll='{"y": 150, "x": 0,  "smoothness": 50 }')
              img(src="images/animate-img-2.jpg",  alt="")
            .box-img-animate-item(data-parallax-scroll='{"y":70, "x": -250,  "smoothness": 50 }')
              img(src="images/animate-img-3.jpg",  alt="")
            .box-img-animate-item(data-parallax-scroll='{"y":20, "x": 20,  "smoothness": 50 }')
              img(src="images/animate-img-4.jpg",  alt="")
            .box-img-animate-item(data-parallax-scroll='{"y":60, "x": 70,  "smoothness": 50 }')
              img(src="images/animate-img-5.jpg",  alt="")
            .box-img-animate-item(data-parallax-scroll='{"y":0, "x": 140,  "smoothness": 50 }')
              img(src="images/animate-img-6.jpg",  alt="")
        .col-lg-6.col-xl-5
          .innset-xl-left-70
            h3 Our Mission
            p.text-opacity-80 Our organization pursues several goals that can be identified as our mission. Learn more about them below.
            .row.row-50
              .col-md-6.col-lg-12
                +box-icon-modern({
                  classMod: 'decorate-triangle',
                  icon: 'linearicons-baby2 icon-primary',
                  title: 'Saving Children'
                })
                  p Our main mission is to save and rescue permanently displaced children.
              .col-md-6.col-lg-12
                +box-icon-modern({
                  classMod: 'decorate-circle',
                  icon: 'linearicons-sun icon-primary',
                  title: 'Peace On The Planet'
                })
                  p By working with our partners, we aim to establish peaceful relationships.
              .col-md-6.col-lg-12
                +box-icon-modern({
                  classMod: 'decorate-rectangle',
                  icon: 'linearicons-umbrella2 icon-primary',
                  title: 'Care & Protection'
                })
                  p We provide global care and protection to support children all over the world.


  section.section.section-lg.bg-gray-1
    .container
      .row.justify-content-center.text-center
        .col-md-9.col-lg-7.wow-outer
          .wow.slideInDown
            h3 Latest Causes
            p At Helper, there are various charity causes and projects, in which you can always take part. Feel free to learn about them below or browse our website for more information.

      .row.row-50
        .col-md-6.col-lg-4.wow-outer
          .wow.fadeInUp
            +causes({
              img: 'causes-01-372x396',
              title: 'Recycling for Charity',
              donate: {
                complete: '$92,160',
                all: '$100,000'
              }
            })
        .col-md-6.col-lg-4.wow-outer
          .wow.fadeInUp
            +causes({
              img: 'causes-02-372x396',
              title: 'Clean Water For People',
              donate: {
                complete: '$52,380',
                all: '$55,000'
              }
            })
        .col-md-6.col-lg-4.wow-outer
          .wow.fadeInUp
            +causes({
              img: 'causes-03-372x396',
              title: 'Children’s Education',
              donate: {
                complete: '$42,280',
                all: '$45,000'
              }
            })

  section.section.section-xxl.bg-default
    .container
      .row.row-50.justify-content-center.align-items-lg-center
        .col-lg-6.col-xl-5.wow-outer
          .wow.slideInLeft
            +jpg('about-01-471x327')
        .col-lg-6.col-xl-5.wow-outer
          .wow.slideInRight
            h3 About Helper
            p Our charity organization was  founded in 1994 based on the acute need to raise money for disadvantaged and at-risk children.
            p Helper Charity steps in where health care ends, providing direct help to children with special needs. For over 30 years, we have ensured that children have the support to reach their potential and thrive. Since our foundation, we have distributed more than $30 million in funding to families and organizations in communities.


  +parallax({
    img: 'parallax-img-1.jpg',
    innerClass: 'section-xl context-dark text-center'
  })
    .container: .row.justify-content-md-center: .col-md-10.wow-outer
      .wow.fadeInUp
        h3 Help the Global Cause
        a.button.button-lg.button-primary(href='single-cause-page.html') DONATE NOW

  section.section-lg.bg-default
    .container.wow-outer
      h3.text-center.wow.slideInDown Recent News
      // Owl Carousel
      .owl-carousel.owl-dots-primary.wow.fadeInUp(data-items='1', data-md-items='2' data-lg-items='3' data-dots='true' data-nav='false' data-stage-padding='0px', data-loop='false', data-margin='15px', data-mouse-drag="false")
        +post-corporate({
          date: 'Jun 02, 2021',
          title: 'Are We Delivering On The Promise To Reach Every Child?'
        })
          p Last week over 300 people from across the Gavi Alliance came together in Abu Dhabi to discuss progress and challenges at the mid-point of...
        +post-corporate({
          date: 'Jul 21, 2021',
          title: 'Coaching for Fundraisers Winner Announced'
        })
          p We are delighted to announce that Yvonne Edouke, founder of OrphanCare charity organization, has won our coaching prize. Her dedication to the...
        +post-corporate({
          date: 'Aug 02, 2021',
          title: 'Equity And Care Through Universal Health Coverage'
        })
          p Today, Universal Health Coverage (UHC) Day, the Universal Motherhood exhibition – created by NeuMette and supported by Helper...
        +post-corporate({
          date: 'Sep 02, 2021',
          title: 'How Are Charities With National Offices & Chapters Rated?'
        })
          p Our visitors often ask us, "is the rating provided for a charity located in one state applicable to the charity's operations in other states?" And our...
        +post-corporate({
          date: 'Oct 21, 2021',
          title: 'How to Report Charity Fraud: \n' +
            '3 Easy Steps to Remember'
        })
          p The Charity Commission’s reporting on its compliance and investigations work, indicate that the largest proportion of the reports of serious...
        +post-corporate({
          date: 'Nov 02, 2018',
          title: 'Volunteering for Children in Africa: Personal Experience'
        })
          p I’ve been volunteering in Africa for the past two years, and have come across dozens of others out here doing the same thing, either with Peace...
        +post-corporate({
          date: 'Nov 25, 2021',
          title: 'Navigating The Complex Childcare System\n'
        })
          p The childcare landscape in the world is complex, with a wide variety of support available to parents depending on factors such as income, child’s age...
        +post-corporate({
          date: 'Dec 12, 2018',
          title: 'Calling On World Leaders To Stop Children Starving'
        })
          p In less than four years of war we’ve been sent back a century. There are the endless airstrikes. The bombs that fall from the skies every night as...
        +post-corporate({
          date: 'Dec 21, 2018',
          title: 'Celebrating Success At Helper Charity Organization'
        })
          p At times it can feel like nothing we give is ever enough, and that no matter how much we care, we can’t make a difference. Although this couldn’t be...

  +parallax({
    img: 'parallax-img-2.jpg',
    innerClass: 'section-xxl context-dark text-center'
  })
    .container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-8.wow-outer
      .innset-xl-right-30.innset-xl-left-30
        .wow.slideInDown
          h3 Subscribe to Stay Informed
          form.rd-form.rd-mailform.rd-form-inline(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
            .form-wrap
              input.form-input(id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="subscribe-form-email") Your E-mail
            .form-button
              button.button.button-primary.button-lg(type="submit") Subscribe

  section.section-lg.text-center
    .container
      .wow-outer
        .wow.slideInDown
          h3 Partners
      // Owl Carousel
      .owl-carousel.owl-dots-primary.dots-offset-lg.owl-carousel-lg(data-items='1' data-sm-items='2', data-dots-each="2"  data-lg-items='4' data-dots='true' data-nav='false' data-stage-padding='0', data-loop='false', data-margin='30', data-mouse-drag="false")
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-1-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-2-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-3-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-4-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-1-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-2-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-3-270x121')
        a(href='#').box-sponsor.box-sponsor-modern.wow-outer
          .wow.fadeInUp
            +png('logo-4-270x121')

  // Page Footer
  include ../sections/_footer-minimal