extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Timers & Counters'

block page 
	// Page Header
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		img: 'images/bg-breadcrumbs-about.jpg'
	})

	
	section.section.section-lg.bg-gray-1.pt-0
		.container
			.box-countdown-light.bg-dot
				.box-countdown-light-inner
					h3 Hurry Up!
					p A falsis, fraticinida gratis advena. Salvus, mirabilis terrors aegre contactus de velox, bi-color lura!
					
					.countdown-gradient
						.countdown(data-type='until', data-time='17 Dec 2022 16:00', data-format='dhms')
							
	section.section.section-lg.bg-default
		.container
			.box-countdown-dark
				.row.row-30.align-items-center.justify-content-xl-between
					.col-lg-3.col-xl.text-center.text-lg-start 
						h3 Hurry Up!
						p Cum guttus nocere, omnes rumores contactus gratis, pius decores!
					.col-lg-6.col-xl-7
						.countdown(data-type='until', data-time='17 Dec 2022 16:00', data-format='dhms')
					.col-lg-3.col-xl
						a(href='single-cause-page.html').button.button-secondary.button-lg.button-block Donate Now
						
	section.section.section-xl.bg-gray-700.bg-dots-light
		.container
			.row.row-50
				.col-sm-6.col-lg-3
					article.counter-classic
						.counter-classic-main
							.counter 50
							
						p.counter-classic-title Rooms
				.col-sm-6.col-lg-3
					article.counter-classic
						.counter-classic-main
							.counter 12
							
						p.counter-classic-title Team members
				.col-sm-6.col-lg-3
					article.counter-classic
						.counter-classic-main
							.counter 34
							span.small k
						p.counter-classic-title Guests
				.col-sm-6.col-lg-3
					article.counter-classic
						.counter-classic-main
							.counter 4
							
						p.counter-classic-title Partners
	// Page Footer
	include ../sections/_footer-minimal
