footer.section.footer-minimal.context-dark
  .container.wow-outer
    .wow.fadeIn
      .row.row-50.row-lg-60
        .col-12
          +logo
        .col-12
          ul.footer-minimal-nav
            li: a(href='about-us.html') About Us
            li: a(href='causes.html') Causes
            li: a(href='gallery.html') Gallery
            li: a(href='team.html') Team
            li: a(href='contacts.html') Contacts
        .col-12
          ul.social-list
            li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-facebook
            li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-instagram
            li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-twitter
            li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-youtube-play
            li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-pinterest-p

      p.rights
        span &copy;&nbsp;
        span.copyright-year
        span &nbsp;
        span= logo.name
        span .&nbsp;
        a( href='privacy-policy.html' ) Privacy Policy
        | . Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]
