-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-default-303x84.png',
			inverse: 'logo-inverse-303x84.png',
			name: 'Helper'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#7FBC4E'
		},
		menu = [
			{
				title: 'Home',
				category: 'home',
				link: 'index.html'
			},
			{
				title: 'Pages',
				category: 'pages',
				link: '#',
				megamenu: [
					{
					title: 'Pages 1',
					list: [
						{ title: 'Typography' },
						{ title: 'Buttons' },
						{ title: 'Timers & Counters' },
						{ title: 'Forms' }
					]
					},
					{
					title: 'Pages 2',
					list: [
						{ title: 'Grid system' },
						{ title: 'Icon Lists' },
						{ title: 'Privacy policy' },
						{ title: 'Coming Soon' },
						{ title: 'Search results' }
					]
					},
					{
					title: 'Pages 3',
					list: [
						{ title: 'Blog Post' },
						{ title: 'News' },
						{ title: 'News 2' },
						{ title: 'Gallery' }

					]
					}
				]
			},
			{
				title: 'About Us',
				category: 'about-us'
			},
			{
				title: 'Causes',
				category: 'causes',
				dropdown: [
					{ title: 'Single cause page' }
				]
			},
			{
				title: 'Team',
				category: 'team',
				dropdown: [
					{ title: 'Team Member Page' }
				]
			},

			{
				title: 'Contacts',
				category: 'contacts'
			}
		];
